alabaster==0.7.12
argon2-cffi==20.1.0
attrs==20.1.0
autopep8==1.5.4
Babel==2.8.0
backcall==0.2.0
bleach==3.1.5
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
colorama==0.4.3
coverage==5.2.1
cx-Oracle==8.0.1
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
docutils==0.16
dominate==2.5.2
entrypoints==0.3
Flask==1.1.2
Flask-Bootstrap==3.3.7.1
gitdb==4.0.5
GitPython==0.3.6
idna==2.10
imagesize==1.2.0
importlib-metadata==1.7.0
ipykernel==5.3.4
ipython==7.18.1
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.7
jupyter-console==6.2.0
jupyter-core==4.6.3
kiwisolver==1.2.0
lib==3.0.0
MarkupSafe==1.1.1
matplotlib==3.3.1
mistune==0.8.4
nbconvert==5.6.1
nbformat==5.0.7
nose==1.3.7
notebook==6.1.3
numpy==1.19.1
packaging==20.4
pandocfilters==1.4.2
parso==0.7.1
pdfdocument==4.0.0
pdfminer.six==20200517
pdfplumber==0.5.23
pickleshare==0.7.5
Pillow==7.2.0
prometheus-client==0.8.0
prompt-toolkit==3.0.7
psutil==5.7.2
pycodestyle==2.6.0
pycparser==2.20
pycryptodome==3.9.8
Pygments==2.6.1
pyparsing==2.4.7
PyPDF2==1.26.0
pypi-publisher==0.0.4
pyrsistent==0.16.0
python-dateutil==2.8.1
pytz==2020.1
pywin32==228
pywinpty==0.5.7
pyzmq==19.0.2
qtconsole==4.7.7
QtPy==1.9.0
reportlab==3.5.49
requests==2.24.0
Send2Trash==1.5.0
simplejson==3.17.2
six==1.15.0
smmap==3.0.4
snowballstemmer==2.0.0
sortedcontainers==2.2.2
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
temp==2020.7.2
terminado==0.8.3
testpath==0.4.4
threaded==4.0.8
toml==0.10.2
tornado==6.0.4
traitlets==5.0.3
urllib3==1.25.10
visitor==0.1.3
Wand==0.6.2
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
zipp==3.1.0
